<form [formGroup]="form" class="profile-form">

  <div class="grid">

    <app-input
      label="Full Name"
      placeholder="Full name"
      formControlName="name">
    </app-input>

    <app-input
      label="Email"
      type="email"
      placeholder="Email address"
      formControlName="email">
    </app-input>

    <app-select
      label="Department"
      formControlName="department"
      [options]="[
        { label: 'HR', value: 'HR' },
        { label: 'Tech', value: 'Tech' },
        { label: 'Sales', value: 'Sales' }
      ]">
    </app-select>

  </div>

  <div class="field full">
    <label>Skills</label>

    <div class="skill-row">

      <app-input
        placeholder="Type skill & press Add"
        formControlName="skillInput">
      </app-input>

      <app-button
        label="Add"
        type="button"
        (clicked)="addSkill()">
      </app-button>

    </div>

    <div class="skill-tags" *ngIf="skills.length">
      <span *ngFor="let s of skills; let i=index">
        {{ s }}
        <b (click)="removeSkill(i)">×</b>
      </span>
    </div>
  </div>

  <div class="action-bar">
    <app-button label="Cancel" type="reset"></app-button>
    <app-button label="Reset" type="button" (clicked)="form.reset()"></app-button>
    <app-button label="Save Profile" type="button" (clicked)="save()"></app-button>
  </div>

</form>
