<app-form-wrapper [form]="form" (submitted)="register()">

  <div
    *ngIf="successMsg"
    class="alert alert-success d-flex align-items-center mb-3"
    role="alert">
    <i class="bi bi-check-circle-fill me-2"></i>
    <span>{{ successMsg }}</span>
  </div>

  <div
    *ngIf="errorMsg"
    class="alert alert-danger d-flex align-items-center mb-3"
    role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    <span>{{ errorMsg }}</span>
  </div>

  <app-input
    label="Email"
    type="email"
    [value]="form.get('email')?.value"
    (valueChange)="form.get('email')?.setValue($event)"
    [errorMessage]="
      form.get('email')?.touched && form.get('email')?.invalid
        ? 'Valid email required'
        : ''
    ">
  </app-input>

  <app-input
    label="Password"
    type="password"
    [value]="form.get('password')?.value"
    (valueChange)="form.get('password')?.setValue($event)"
    [errorMessage]="
      form.get('password')?.touched && form.get('password')?.invalid
        ? 'Password required'
        : ''
    ">
  </app-input>

  <app-input
    label="Confirm Password"
    type="password"
    [value]="form.get('confirmPassword')?.value"
    (valueChange)="form.get('confirmPassword')?.setValue($event)"
    [errorMessage]="
      form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid
        ? 'Confirm password required'
        : ''
    ">
  </app-input>

  <div class="mb-3">
    <label class="form-label">Role</label>
    <select
      class="form-control"
      [value]="form.get('role')?.value"
      (change)="form.get('role')?.setValue($any($event.target).value)">
      <option value="">Select role</option>
      <option value="User">User</option>
      <option value="Admin">Admin</option>
    </select>

    <small class="text-danger"
      *ngIf="form.get('role')?.touched && form.get('role')?.invalid">
      Role is required
    </small>
  </div>

  <app-button label="Register" type="submit"></app-button>

  <p class="text-center mt-3">
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>

</app-form-wrapper>
