
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body {
  height:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.app-shell{
  padding-top:70px;     
  min-height:100vh;
  box-sizing:border-box;
}

.mat-mdc-card {
  border-radius: 14px;
}

.mat-mdc-raised-button, .mat-mdc-outlined-button {
  border-radius: 12px;
  text-transform: none;
  font-weight: 600;
}

.mat-mdc-table {
  background: white;
  border-radius: 14px;
  overflow: hidden;
}

.mat-mdc-dialog-container {
  border-radius: 18px;
}
.mat-mdc-button-disabled{
  background:#d1d5db !important;
  color:#888 !important;
}
.layout{display:grid;grid-template-columns:1fr 1fr;gap:30px}
.card{background:white;padding:24px;border-radius:16px;box-shadow:0 10px 30px rgba(0,0,0,.1)}
input,select{width:100%;padding:12px;border-radius:10px;margin-bottom:10px;border:1px solid #ddd}
button{padding:10px 22px;border-radius:20px;background:#7c4dff;color:white;border:none}

// .app-shell {
//   min-height: calc(100vh - 70px); 
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
