<nav class="main-navbar">
  <div class="nav-wrap">

    <div class="brand">
      <img src="assets/logo.png">
      <span>User Management</span>
    </div>

    <ul class="nav-links desktop">
      <li *ngFor="let m of menu; let i=index">

        <a *ngIf="!m.children"
          [routerLink]="m.route"
          routerLinkActive="active"
          (click)="closeAll()">
          {{m.title}}
        </a>

        <div *ngIf="m.children" class="dropdown" (click)="$event.stopPropagation(); toggleDesktop(i)">
          <span>{{m.title}}</span>

          <div class="drop" [class.show]="openDesktopIndex===i">
            <a *ngFor="let c of m.children"
              [routerLink]="c.route"
              (click)="closeAll()">
              {{c.title}}
            </a>
          </div>
        </div>

      </li>

      <li *ngIf="isLoggedIn">
        <a class="logout" (click)="logout()">Logout</a>
      </li>

    </ul>

    <div class="hamburger" (click)="toggleMenu()">☰</div>
  </div>
</nav>

<div class="mobile-overlay" [class.show]="open" (click)="toggleMenu()"></div>

<div class="mobile-drawer" [class.show]="open">

  <div *ngFor="let m of menu; let i = index">

    <a *ngIf="!m.children"
       [routerLink]="m.route"
       routerLinkActive="active"
       (click)="toggleMenu()">{{m.title}}</a>

    <div *ngIf="m.children" class="mobile-parent" (click)="toggleSub(i)">
      <span>{{m.title}}</span>
      <span class="arrow" [class.rotate]="activeIndex===i">›</span>
    </div>

    <div class="mobile-children" *ngIf="activeIndex===i">
      <a *ngFor="let c of m.children"
         [routerLink]="c.route"
         (click)="toggleMenu()">{{c.title}}</a>
    </div>
  </div>

  <button
    class="mobile-logout"
    *ngIf="isLoggedIn"
    (click)="logout()">
    Logout
  </button>

</div>
Make Footer, Navbar component Visibility before login and login form UI make with use Shared UI Components.